<div class=" content">
  <div class=" row">
    <div class=" col-lg-4"
*ngFor="let menuItem of regions"
    >
    <button type="button" class="btn " (click)="openModalWithClass(template)">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category"><i class="fas fa-map-marker-alt"></i> {{menuItem.label}}</h5>
          <h3 class=" card-title">
            <img class="image" style="--clip-start: circle(0); --clip-end: circle(125%);" src="{{menuItem.pathload}}" alt="region">
            <!-- <i class="fas fa-map-marker-alt"></i> {{menuItem.label}} -->
            <!-- <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 107.000 CAS -->
          </h3>
        </div>
        <div class="card-body">
          <!-- <div class=" chart-area"></div> -->
          <h5 class=" card-category"> <i class=" tim-icons icon-bell-55 text-danger-states"> </i> <i class="fas fa-head-side-mask"></i> {{menuItem.case}} Cas</h5>
        </div>
      </div>
    </button>
    <!-- <div *ngFor="let dept of {{menuItem.departement_list}}"> -->
      <ng-template #template >
        <div class="modal-header" > <h4 class="modal-title pull-left">Switch</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">
               <i class=" tim-icons icon-simple-remove"> </i>
              </span>
            </button>
          </div>
          <div class="modal-body">
            <div class=" content">
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" card">
                    <div class=" card-header">
                      <h4 class=" card-title">Departmental Level Statistics</h4>
                    </div>
                    <div class=" card-body">
                      <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                          <thead class=" text-primary">
                            <tr>
                              <th class=" text-center">Departments</th>
                              <th class=" text-center">Number Of Cases</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                            *ngFor="let dp of menuItem.departement_list"
                            >
                              <td class=" text-center">{{dp.name}}</td>
                              <td class=" text-center">{{dp.case}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
          </div>
        </ng-template>
    <!-- </div> -->

    </div>
  </div>
</div>
