// .card{
//   height: 90%;
// }

img:nth-of-type(1) {
  filter: grayscale(1) brightness(50%);
  transition: filter 1s;
  // transition: width 2s;
}
img:hover{
  filter: grayscale(2) brightness(100%);
  width: 350%;
}
.image {
  position: relative;
}
