<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="#">
          Corona vision
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="#">
          About Us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="#"> Blog </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ day | date: "yyyy" }} made with
      <i class="tim-icons icon-satisfied"> </i> by
      <a href="#" target="_blank"> @Yusufaye @Ibrahima @Pispro and @Livaille </a>
      for a better web.
    </div>
  </div>
</footer>
