<div class=" content"
>
  <div class="row">
    <div class=" col-sm-12">
      <div
        class=" btn-group btn-group-toggle float-right"
        data-toggle="buttons"
      >
        <label class=" btn btn-sm btn-danger btn-simple" (click)="updateOptions();clicked=true;clicked1=false;clicked2=false" [ngClass]="{'active':clicked===true}">
          <input
          checked="checked"
          name="options"
          type="radio"
          id="Line" />

          <span
            class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
          >
            Line Graphic
          </span>
          <span class=" d-block d-sm-none">
            <!-- <i class=" tim-icons icon-single-02"> </i> -->
            Line Graphic
          </span>
        </label>
        <label class=" btn btn-sm btn-danger btn-simple" (click)="updateOptions();clicked=false;clicked1=true;clicked2=false" [ngClass]="{'active':clicked1===true}">
          <input
            class=" d-none d-sm-none"
            name="options"
            type="radio"
            id="Bar"
          />
          <span
            class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
          >
            Bar Graphic
          </span>
          <span class=" d-block d-sm-none">
            <!-- <i class=" tim-icons icon-gift-2"> </i> -->
            Bar Graphic
          </span>
        </label>
        <label class=" btn btn-sm btn-danger btn-simple" (click)="updateOptions();clicked=false;clicked1=false;clicked2=true" [ngClass]="{'active':clicked2===true}">
          <input
          class=" d-none"
          name="options"
          type="radio"
          id="scatter" />
          <span
            class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
          >
          Scatter Graphic
          </span>
          <span class=" d-block d-sm-none">
            Scatter Graphic
            <!-- <i class=" tim-icons icon-tap-02"> </i> -->
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="row"
*ngFor="let Item of g"
  >
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Nombre de Cas Communautaire</h5>
              <h2 class=" card-title">
                {{Item.localite_name}}
              </h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area" >
            <canvas
            [id]="Item.localite_name"
            > </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <mat-paginator [pageSizeOptions]="[2, 4, 6, 8, 10,12]" showFirstLastButtons>
</mat-paginator>  voi-->
<!-- <div class="content">
  <div class="row">
    <div class=" col-12"
    *ngFor="let item of collection | paginate: { itemsPerPage: 5, currentPage: p }"
    >
    <div class=" card card-chart">
      <div class=" card-header">
        <div class=" row">
          <div class=" col-sm-6 text-left">
            <h5 class=" card-category">Nombre de Cas Communautaire</h5>
            <h2 class=" card-title">
            </h2>
          </div>
          <div class=" col-sm-6">
            <div
              class=" btn-group btn-group-toggle float-right"
              data-toggle="buttons"
            >
              <label class=" btn btn-sm btn-danger btn-simple" >
                <input checked="checked" name="options" type="radio" />

                <span
                  class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                >
                  Line
                </span>
                <span class=" d-block d-sm-none">
                  <i class=" tim-icons icon-single-02"> </i>
                </span>
              </label>
              <label class=" btn btn-sm btn-danger btn-simple" >
                <input
                  class=" d-none d-sm-none"
                  name="options"
                  type="radio"
                />
                <span
                  class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                >
                  Bar
                </span>
                <span class=" d-block d-sm-none">
                  <i class=" tim-icons icon-gift-2"> </i>
                </span>
              </label>
              <label class=" btn btn-sm btn-danger btn-simple" >
                <input class=" d-none" name="options" type="radio" />

                <span
                  class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                >
                  Radar
                </span>
                <span class=" d-block d-sm-none">
                  <i class=" tim-icons icon-tap-02"> </i>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class=" card-body">
        <div class=" chart-area" >
          <canvas
          id="chartg1"
          > </canvas>
        </div>
      </div>
    </div>
    </div>
  </div>
  <pagination-controls
  (pageChange)="p = $event"
  (pageBoundsCorrection)="p = $event"
  maxSize="9"
  directionLinks="true"
  autoHide="true"
  responsive="true"
  previousLabel="Previous"
  nextLabel="Next"
  screenReaderPaginationLabel="Pagination"
  screenReaderPageLabel="page"
  screenReaderCurrentLabel="You're on page"
  >
  </pagination-controls>
</div> -->
