agm-map {
  height: 600px;
}
svg{
  margin-left: 90px;
  width: 90%;
  height: 80%
}
@keyframes buttonTransition {
  from {
      r: 5%;
  }
  // to {
  //     r: 5%;
  // }
}

.my-circle {
  animation-duration: 1s;
  animation-iteration-count: 50;
  animation-name: buttonTransition;
}
