<div class=" content">
  <div class="row">
    <div class=" col-lg-4">
    <a [download]="myFileOne" [href]="fileUrlOne">
      <button type="button" class="btn">
        <div class=" card card-chart">
          <div class=" card-header">
            <!-- <h5 class=" card-category"><i class="fas fa-map-marker-alt"></i>s</h5> -->
            <!-- <h3 class=" card-title">
              <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 107.000 CAS
            </h3> -->
            <i class=" tim-icons icon-cloud-download-93"></i> Download Progression file.
          </div>
          <div class="card-body">
          </div>
        </div>
      </button>
    </a>
    </div>
    <div class=" col-lg-4">
      <a [download]="myFileTwo" [href]="fileUrlTwo">
        <button type="button" class="btn">
          <div class=" card card-chart">
            <div class=" card-header">
              <!-- <h5 class=" card-category"><i class="fas fa-map-marker-alt"></i>s</h5> -->
              <!-- <h3 class=" card-title">
                <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 107.000 CAS
              </h3> -->
              <i class=" tim-icons icon-cloud-download-93"></i> Download Progression Picture.
            </div>
            <div class="card-body">
            </div>
          </div>
        </button>
      </a>
      </div>
  </div>
</div>

