<div class="content">
  <div class="row">
      <div class="col-12">
        <div class=" card card-chart">
          <div class=" card-header">
            <div class=" row">
              <div class=" col-sm-6 text-left">
                <h5 class=" card-category">Intervention</h5>
                <h2 class=" card-title">
                  Pour Plus D'information consulter les liens si dessous, Merci de Votre Passage.
                </h2>
              </div>
            </div>
          </div>
          <div class=" card-body">
            <!-- <div class=" chart-area" >
              <canvas id=""> </canvas>
            </div> -->
            <ul>
              <li>
                <a href="https://ec.europa.eu/commission/presscorner/detail/fr/ip_21_3562">
                  La République du Sénégal et « l'Équipe Europe » se mettent d'accord pour construire une usine de vaccins contre la COVID-19 et d'autres maladies endémiques.
                </a>
              </li>
              <li>
                <a href="https://www.who.int/fr/news-room/q-a-detail/coronavirus-disease-(covid-19)-vaccines?adgroupsurvey={adgroupsurvey}&gclid=Cj0KCQjw6NmHBhD2ARIsAI3hrM2snbUlzVzTZy8zVwA7PLu20rzlbqUmt4zTUBYKD6558LCtfApKfJ4aAnmkEALw_wcB">
                  Maladie à coronavirus 2019 (COVID-19) : vaccins.
                </a>
              </li>              <li>
                <a href="https://www.rfi.fr/fr/afrique/20210706-covid-19-au-s%C3%A9n%C3%A9gal-p%C3%A9nurie-de-vaccins-au-moment-o%C3%B9-les-cas-se-multiplient">
                  Covid-19 au Sénégal: pénurie de vaccins au moment où les cas se multiplient.
                </a>
              </li>              <li>
                <a href="https://information.tv5monde.com/afrique/coronavirus-au-senegal-les-gens-ne-se-bousculent-pas-pour-venir-se-faire-vacciner-404819">
                  Coronavirus au Sénégal : "Les gens ne se bousculent pas pour venir se faire vacciner".
                </a>
              </li>              <li>
                <a href="https://www.aa.com.tr/fr/afrique/sénégal-covid-19-réception-dun-deuxième-lot-de-vaccins-de-linitiative-covax/2263682">
                  Sénégal/Covid-19 : réception d'un deuxième lot de vaccins de l'initiative Covax.
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
