<div class="logo">
  <a href="#" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="../../../assets/img/CD2.png" />
    </div>
  </a>
  <a href="#" class="simple-text logo-normal">
    COVID-19
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
