
<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Ministère Declare</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 107.000 CAS
          </h3>
        </div>
        <div class="card-body">
          <!-- <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div> -->
          <ngx-bootstrap-treeview
          [isOpened]="true"
          [tree]="trees[0]"
          [canSelectBranch]="false"
          [selectedLeafIcon]="faCheckSquare"
          [unselectedLeafIcon]="faSquare"
          [openedFolderIcon]="faFolderOpen"
          [closedFolderIcon]="faFolder"
          [anyChildrenSelectedIcon]="faMinus"
          [allChildrenSelectedIcon]="faCheck"
          [isAnimationDisabled]="false"
          >
          </ngx-bootstrap-treeview>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Ministère Declare</h5>
          <h3 class=" card-title">
            <i class="tim-icons icon-bell-55 text-danger-states"> </i> 107.000 CAS
          </h3>
        </div>
        <div class="card-body">
          <!-- <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div> -->
          <ngx-bootstrap-treeview
          [isOpened]="true"
          [tree]="trees[0]"
          [canSelectBranch]="false"
          [selectedLeafIcon]="faCheckSquare"
          [unselectedLeafIcon]="faSquare"
          [openedFolderIcon]="faFolderOpen"
          [closedFolderIcon]="faFolder"
          [anyChildrenSelectedIcon]="faMinus"
          [allChildrenSelectedIcon]="faCheck"
          [isAnimationDisabled]="false"
          >
          </ngx-bootstrap-treeview>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Ministère Declare</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 107.000 CAS
          </h3>
        </div>
        <div class="card-body">
          <!-- <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div> -->
          <ngx-bootstrap-treeview
          [isOpened]="true"
          [tree]="trees[0]"
          [canSelectBranch]="false"
          [selectedLeafIcon]="faCheckSquare"
          [unselectedLeafIcon]="faSquare"
          [openedFolderIcon]="faFolderOpen"
          [closedFolderIcon]="faFolder"
          [anyChildrenSelectedIcon]="faMinus"
          [allChildrenSelectedIcon]="faCheck"
          [isAnimationDisabled]="false"
          >
          </ngx-bootstrap-treeview>
        </div>
      </div>
    </div>
      <div class=" col-lg-4">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">Ministère Declare</h5>
            <h3 class=" card-title">
              <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 107.000 CAS
            </h3>
          </div>
          <div class="card-body">
            <!-- <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div> -->
            <ngx-bootstrap-treeview
            [isOpened]="true"
            [tree]="trees[0]"
            [canSelectBranch]="false"
            [selectedLeafIcon]="faCheckSquare"
            [unselectedLeafIcon]="faSquare"
            [openedFolderIcon]="faFolderOpen"
            [closedFolderIcon]="faFolder"
            [anyChildrenSelectedIcon]="faMinus"
            [allChildrenSelectedIcon]="faCheck"
            [isAnimationDisabled]="false"
            >
            </ngx-bootstrap-treeview>
          </div>
        </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Ministère Declare</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 107.000 CAS
          </h3>
        </div>
        <div class="card-body">
          <!-- <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div> -->
          <ngx-bootstrap-treeview
          [isOpened]="true"
          [tree]="trees[0]"
          [canSelectBranch]="false"
          [selectedLeafIcon]="faCheckSquare"
          [unselectedLeafIcon]="faSquare"
          [openedFolderIcon]="faFolderOpen"
          [closedFolderIcon]="faFolder"
          [anyChildrenSelectedIcon]="faMinus"
          [allChildrenSelectedIcon]="faCheck"
          [isAnimationDisabled]="false"
          >
          </ngx-bootstrap-treeview>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Ministère Declare</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 107.000 CAS
          </h3>
        </div>
        <div class="card-body">
          <!-- <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div> -->
          <ngx-bootstrap-treeview
          [isOpened]="true"
          [tree]="trees[0]"
          [canSelectBranch]="false"
          [selectedLeafIcon]="faCheckSquare"
          [unselectedLeafIcon]="faSquare"
          [openedFolderIcon]="faFolderOpen"
          [closedFolderIcon]="faFolder"
          [anyChildrenSelectedIcon]="faMinus"
          [allChildrenSelectedIcon]="faCheck"
          [isAnimationDisabled]="false"
          >
          </ngx-bootstrap-treeview>
        </div>
      </div>
    </div>
  </div>
</div>

