.photo {
  display: inline-block;
  height: 135px;
  width: 135px;
  border-radius: 55%;
  vertical-align: middle;
  overflow: hidden;
}
.card-body{
  text-align: center;
}

.card-footer p{
  font-style: italic;
}
// 
.photo .image {
  position: relative;
  padding-bottom: 100%;
}
.photo .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  left: 0;
  position: absolute;
  top: 0;
}
.photo .image img:nth-of-type(1) {
  filter: grayscale(1) brightness(50%);
}
.photo .image img:nth-of-type(2) {
  clip-path: var(--clip-start);
  transition: clip-path 0.8s;
}
.photo .image:hover img:nth-of-type(2) {
  clip-path: var(--clip-end);
}