<!-- <p>users works!</p> -->
<div class="content">
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Project team</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-shape-star"></i>
            <i class=" tim-icons icon-shape-star"></i>
            <i class=" tim-icons icon-shape-star"></i>
            <i class=" tim-icons icon-shape-star"></i>
            <i class=" tim-icons icon-shape-star"></i>
          </h3>
        </div>
        <div class="card-body">
          <div class="photo">
             <img  [src]="pathload" alt="">
          </div>
          <div class="card-footer">
             <p>Yusuf Faye</p>
              <p>Project Manager</p>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Project team</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-shape-star"></i>
            <i class=" tim-icons icon-shape-star"></i>
            <i class=" tim-icons icon-shape-star"></i>
          </h3>
        </div>
        <div class="card-body">
          <div class="photo">
             <img  [src]="pathload" alt="">
          </div>
          <div class="card-footer">
             <p>Ibrahima Tall</p>
              <p>Data Explorer Consultant</p>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Project team</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-shape-star"></i>
            <i class=" tim-icons icon-shape-star"></i>
          </h3>
        </div>
        <div class="card-body">
          <div class="photo">
             <img  [src]="pathload" alt="">
          </div>
          <div class="card-footer">
             <p>Pissan Prosper</p>
              <p>Data Acquisition Consultant</p>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Project team</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-shape-star"></i>
            <i class=" tim-icons icon-shape-star"></i>
          </h3>
        </div>
        <div class="card-body">
          <div class="photo">
             <img  [src]="pathload" alt="">
          </div>
          <div class="card-footer">
             <p>Levy An-nour SAÏZONOU</p>
              <p>Evolution Analyzer Consultant</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Project team</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-shape-star"></i>
            <i class=" tim-icons icon-shape-star"></i>
          </h3>
        </div>
        <div class="card-body">
          <div class="photo">
            <div class="image" style="--clip-start: circle(0); --clip-end: circle(125%);">
              <img [src]=pathload2 />
              <img [src]=pathload />
            </div>
          </div>
          <div class="card-footer">
             <p>Levy An-nour SAÏZONOU</p>
              <p>Evolution Analyzer Consultant</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
